*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #0a0a0a;
    color: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
}

.logo {
    position: absolute;
    left: 40px;
    padding-top: 40px;
}

.logo-text {
    position: absolute;
    font-size: 48px;
    padding-top: 15%;
    padding-left: 8px;
    letter-spacing: 2px;
}

.rotate-text {
    display: none;
}

.menu {
    width: 300px;
    padding-top: 160px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.menu-btn {
    background: none;
    border: none;
    color: #c99f75;
    font-size: 22px;
    text-align: left;
    margin: 6px 0;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: -3px 2.5px 0px #000000;
}

.menu-btn:hover {
    color: #ffffff;
    transform: translateX(10px);
}

.menu-btn.active {
    color: #ffffff;
    transform: translateX(5px);
}

.content {
    flex: 1;
    padding: 124px 80px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

span {
    font-size: 50px;
}

@media screen and (max-width: 666px) {
    body {
        font-family: 'Segoe UI', Tahoma, sans-serif;
        background: #0a0a0a;
        color: #ffffff;
    }

    .logo {display: none;}

    .logo-text {display: none;}

    .rotate-text {
        display: contents;
        transform: translateX(25px);
    }

    .menu {display: none;}

    .menu-btn {display: none;}

    .menu-btn:hover {display: none;}

    .menu-btn.active {display: none;}

    .content {display: none;}

    .tab {display: none;}

    .tab.active {display: none;}

    h2 {display: none;}

    span {display: none;}
}