*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size:2vh;
}
@media screen and (max-height: 666px) {
    * {
        font-size:2vw;
    }
}
body {
    margin: 1%;
    background: #0a0a0a;
    color: #ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
/*     height:100vh; */
/*     width:100%; */
}

.container {
    padding-left:1vw;
    padding-right:1vw;
    display: flex;
    flex-direction:column;
/*     height:100vh; */
    width:100%;
}
.logo {

    padding:4vh;
}
.logo-text {
    font-size: 5vh;
}
.menu {
    height:100px;
    flex:1;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.menu-btn {
    background: none;
    border: none;
    color: #c99f75;
    margin: 6px 0;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: -3px 2.5px 0px #000000;
}

.menu-btn:hover {
    color: #ffffff;
    transform: translateX(10px);
}

.menu-btn.active {
    color: #ffffff;
    transform: translateX(5px);
}

.content {
    padding-left:5%;
    margin:auto;
    width:92%;
    display:flex;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

h2 {
    font-size: 5vh;
    margin-bottom: 10px;
}
.container2 {

    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
